<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2023, Partners of the EU funded DE4A project consortium
      (https://www.de4a.eu/consortium), under Grant Agreement No.870635
    Author:
      Austrian Federal Computing Center (BRZ)
      Spanish Ministry of Economic Affairs and Digital Transformation -
        General Secretariat for Digital Administration (MAETD - SGAD)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<Configuration status="info" strict="true">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <!-- Location may be an issue when async logging is used! -->
      <!-- DE4A Metrics pattern [prefix][timestamp][Level][Error/Log Code][UC#][Origin][Destiny][Message] -->
      <PatternLayout pattern="[DE4A-CONNECTOR][%date{ISO8601}][%-5level] %msg -- %location [%thread]%n" />
    </Console>
    
    <RollingFile name="rollingFile" 
                 fileName="${sys:catalina.base}/logs/connector.log"
                 filePattern="${sys:catalina.base}/logs/history/connector.%d{dd-MMM}.log.gz"
                 ignoreExceptions="false">
      <PatternLayout>
        <Pattern>>[%date{ISO8601}][%-5level] %msg -- %location [%thread]%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="30 MB" />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
    
    <RollingFile name="metricsFile" 
                 fileName="${sys:catalina.base}/logs/metrics-connector.log"
                 filePattern="${sys:catalina.base}/logs/history/metrics-connector.%d{dd-MMM}.log.gz" 
                 ignoreExceptions="false">
      <PatternLayout>
        <Pattern>>$${ctx:metrics:-}[%date{ISO8601}][%-5level][$${ctx:logcode:-}][DE4A-CONNECTOR][$${ctx:origin:-}][$${ctx:destiny:-}] %msg -- %location [%thread]%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="30 MB" />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
    <Routing name="RouterMetrics">
      <Routes pattern="${ctx:metrics.enabled}">
        <Route ref="metricsFile" key="true" />
        <Route ref="none" key="false" />
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <Logger name="org.apache.http" level="INFO" additivity="false">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="rollingFile" />
    </Logger>
    <Logger name="org.springframework" level="INFO" additivity="false">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="rollingFile" />
    </Logger>
    <Logger name="eu.de4a" level="INFO" additivity="false">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="rollingFile" />
      <AppenderRef ref="RouterMetrics" />
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="rollingFile" />
      <AppenderRef ref="RouterMetrics" />
    </Root>
<!-- 
     <Root level="debug">
      <AppenderRef ref="STDOUT" />
    </Root>
 -->
  </Loggers>
</Configuration>
