<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:/temp/logs/idk.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${catalina.base}/logs/idk-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<!-- encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
			<pattern>%date %level [%thread{10}] %logger{10} [%file:%line] - %msg%n</pattern> 
			</encoder -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread{10}] %logger{10} [%file:%line] -
				%msg%n</Pattern>
		</layout>
	</appender>

	<!-- Console = catalina.out -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">		
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread{10}] %logger{10} [%file:%line] -
				%msg%n</Pattern>
		</layout>
	</appender>
	



	<!-- -->
	<!-- APLICACION -->
	<!-- -->
	<logger name="eu" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE" /> 
		<appender-ref ref="CONSOLE" /> 
	</logger>


	<logger name="org" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" /> 
	</logger>
	<!-- 
	<logger name="org.springframework.jdbc" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE" />
	</logger>
	 -->
	 
	<!-- 
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.hibernate.type" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="FILE" />
	</logger>
	-->
	 
	<!--
	<logger name="org.springframework.ws" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE" />
	</logger>
	-->

	<!-- -->
	<!-- RESTO DE LIBRERIAS -->
	<!-- -->
	<root>
		<level value="ERROR" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>